<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fi.activity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.servicedemo2.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.servicedemo2.activity.ServiceActivity"/>
        <activity android:name="com.servicedemo2.activity.ServiceActivity2"/>
        <activity android:name="com.servicedemo2.activity.ServiceActivity3"/>

        <service android:name="com.servicedemo2.service.TestService"/>
        <service android:name="com.servicedemo2.service.TestService2"/>
        <service android:name="com.servicedemo2.service.TestService3"/>
        <service android:name="com.servicedemo2.service.MyIntentService"/>
        <service android:name="com.servicedemo2.service.LongRunningService"/>

        <receiver android:name="com.servicedemo2.receiver.AlarmReceiver"/>

        <activity android:name="com.servicedemo2.activity.DetailActivity">
        </activity>
        <activity android:name="com.servicedemo2.activity.IntentServiceActivity">
        </activity>
        <activity android:name="com.servicedemo2.activity.AlarmServiceActivity">
        </activity>
    </application>

</manifest>
